build/
install/
log/
.vscode/
**/.vscode/*.db
**/.vscode/*.db-shm
**/.vscode/*.db-wal
navigation_no_build_log_install.tar.gz
script/fastlio_map_20260320_191716_150s.pcd
script/fastlio_map_20260320_192814_180s.pcd
script/.vscode/browse.vc.db
src/path_searching/.vscode/browse.vc.db
src/vel_forwarder/.vscode/browse.vc.db
